<p style="color: green"><%= flash[:notice] %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <div>
      <strong>Title:</strong> <%= book.title %><br>
      <strong>Author:</strong> <%= book.author %><br>
      <strong>Price:</strong> <%= number_to_currency(book.price) %><br>
      <strong>Published Date:</strong> <%= book.published_date %><br>
    </div>
    <p>
      <%= link_to "Show Details", book %>
      <%= link_to "Edit", edit_book_path(book) %> |
      <%= link_to "Delete", confirm_delete_book_path(book) %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
